<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmaster.gittest.dao.ClipMapper">
 
	<!-- 클립 저장 -->
	<insert id="insertClip" parameterType="Clip">
		INSERT INTO SM_CLIP_TB
		(
			CLIP_SQ,
			USER_ID,
			CONTENT_ID,
			CONTENT_TYPE_ID,			
			CLIP_YMD
			
		)
		VALUES
		(
			SM_CLIP_TB_CLIP_SQ.nextval
			, #{USER_ID}
			, #{CONTENT_ID}
			, #{CONTENT_TYPE_ID}			
			, sysdate
			
		)
	</insert>
	
	<!-- 클립 읽어오기 -->		
	<select id="readCLip" parameterType="String" resultType="Clip">
	select	CLIP_SQ,
			USER_ID,
			CONTENT_ID,
			CONTENT_TYPE_ID,
			CLIP_YMD
	from 	SM_CLIP_TB
	where 	USER_ID=#{USER_ID}
	order by CLIP_SQ
	</select>
	
	<delete id="deleteClip" parameterType="Clip">
	delete from SM_CLIP_TB
	where 		CONTENT_ID =#{CONTENT_ID}
			and USER_ID=#{USER_ID}
	</delete>
	
	<insert id="insertLiked" parameterType="Liked">
		INSERT INTO sm_liked_tb
		(
			LIKED_SQ,
			USER_ID,
			SCD_SQ	 
		)
		VALUES
		(
			SM_LIKED_TB_LIKED_SQ.nextval
			
			, #{USER_ID}
			, #{SCD_SQ}		 
		)
	</insert>
	<delete id="deleteLiked" parameterType="Liked">
	delete from sm_liked_tb
	where 		SCD_SQ =#{SCD_SQ}
			and USER_ID=#{USER_ID}
	</delete>
	<select id="readLiked" resultType="Liked">
	select 	count(scd_sq) Liked_sq, scd_sq
	from 	sm_liked_tb
	group 	by scd_sq
	</select>
	 
</mapper>
