<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmaster.gittest.dao.MyScheduleMapper">
	
	<select id="read_scd" resultType="HashMap" parameterType="String">  
	select	c.scd_sq,c.scd_desc,c.scd_title, q as DTL_CONTENT_ID, w as DTL_CONTENT_ID2
			from (select scd_sq, max(DTL_CONTENT_ID)q, min(DTL_CONTENT_ID) w
			from sm_dtl_scd_tb group by scd_sq) d, sm_scd_tb c
			where d.scd_sq=c.scd_sq and USER_ID=#{USER_ID}
			order by c.scd_sq desc
	</select>
	 
	<select id="scd_daily_ymd" parameterType="int" resultType="HashMap"> 
	select 	
			to_char(d.daily_ymd,'YYYY/MM/DD DAY')as"daily_ymd",
			t.city_nm,c.DAY_CNT,
			d.DAILY_ORD,o as daily_cnt,
			t.area_code,
			m as dtl_content_id 
	from 	sm_daily_scd_tb d,
			sm_scd_tb c,
			(select daily_sq,city_nm,scd_sq,area_code,max(DTL_CONTENT_ID) m,
			count(daily_sq) o
  	from 	sm_dtl_scd_tb group by daily_sq,city_nm,scd_sq,area_code)t
	where 	d.scd_sq=#{scd_sq}
			and t.daily_sq= d.daily_sq 
	and 	c.scd_sq = d.scd_sq
	order by d.DAILY_YMD

	</select>
	<select id="scd_info" parameterType="int" resultType="Dtl_Scd">
	SELECT
	 		t.DTL_ORD,
	 		t.DTL_CONTENT_ID,
	 		t.PLACE_NM, 
	 		t.CITY_NM
	FROM 	SM_DTL_SCD_TB t,
			sm_daily_scd_tb d
	where 	d.scd_sq=#{scd_sq} 
	and 	t.scd_sq=d.scd_sq 
	and 	t.daily_sq=d.daily_sq
	order by d.DAILY_YMD, t.dtl_ord
	</select>
	
	<select id="shared_read_scd" resultType="HashMap" parameterType="String">
	select	c.scd_sq,
			c.scd_desc,
			c.scd_title,
			q as DTL_CONTENT_ID,
			w as DTL_CONTENT_ID2
	from 	(select scd_sq,
		 	max(DTL_CONTENT_ID) q,
		 	min(DTL_CONTENT_ID) w
			from sm_dtl_scd_tb group by scd_sq) d,
			sm_scd_tb c,
			SM_SHARED_USER_TB s
	where 	d.scd_sq=c.scd_sq 
 	and 	s.USER_ID=#{USER_ID}
 	and 	s.scd_sq = c.scd_sq
 	order by c.scd_sq desc
	</select>
	
	<select id="get_citylatlng" parameterType="Dtl_Scd" resultType="Dtl_Scd">
	SELECT
	 		lat map_y, 
	 		lng map_x
	FROM 	SM_CITY_TB
	where 	areacode = #{area_code}
	<if test="sigungu_code != ''">
	and 	sigungu_code = #{sigungu_code)
	</if>
	</select>
 </mapper>
