<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmaster.gittest.dao.ReviewMapper">

	<!-- Review 리스트 가져오기 --> 
	<select id="readReview" resultType="Review" parameterType="String">
		SELECT
			REV_SQ
			, USER_ID
			, CONTENT_ID
			, REV_TXT
			, INP_YMD
			, UPD_YMD
		FROM 
			SM_REVIEW_TB
		where 
		CONTENT_ID = #{CONTENT_ID}
		ORDER BY
			REV_SQ DESC
	</select>
	
	<!-- 페이징 관련 리뷰글수 -->
	<select id="tCount" parameterType="String" resultType="int">
		select count(*)
		from SM_REVIEW_TB
		where CONTENT_ID = #{CONTENT_ID}
	</select>
	

	<!-- 2) Review 저장 -->
	<insert id="writeReview" parameterType="Review">
		INSERT INTO SM_REVIEW_TB
		(
			REV_SQ
			, USER_ID
			, CONTENT_ID
			, REV_TXT
			, INP_YMD
			, UPD_YMD
		)
		VALUES
		(
			SM_REVIEW_TB_REV_SQ.nextval
			, #{USER_ID}
			, #{CONTENT_ID}
			, #{REV_TXT}
			, sysdate
			, sysdate
			
		)
	</insert>
	
	

</mapper>
