<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bong.maptest.dao.ReviewMapper">

	<!-- Review 리스트 가져오기 -->
<!-- 	<select id="readReview" resultType="Review" >
		SELECT
			REV_SQ
			, USER_ID
			, PLACE_NM
			, REV_TXT
			, INP_YMD
			, UPD_YMD
		FROM 
			SM_REVIEW_TB
		
		ORDER BY
			REV_SQ DESC
	</select> -->
	<select id="readReview" resultType="Review" parameterType="String">
		SELECT
			REV_SQ
			, USER_ID
			, PLACE_NM
			, REV_TXT
			, INP_YMD
			, UPD_YMD
		FROM 
			SM_REVIEW_TB
		where 
		PLACE_NM = #{PLACE_NM}
		ORDER BY
			REV_SQ DESC
	</select>
	

	<!-- 2) Review 저장 -->
	<insert id="writeReview" parameterType="Review">
		INSERT INTO SM_REVIEW_TB
		(
			REV_SQ
			, USER_ID
			, PLACE_NM
			, REV_TXT
			, INP_YMD
			
		)
		VALUES
		(
			REV_SQ_seq.nextval
			, #{USER_ID}
			, #{PLACE_NM}
			, #{REV_TXT}
			, sysdate
			
		)
	</insert>
		
	<!-- 3) 한 개의 Review 삭제 -->
	<!-- <delete id="reviewDelete" parameterType="int" >
		DELETE 
			bookreview
		WHERE 
			seq = #{seq}
	</delete> -->
</mapper>
